bumpversion==0.5.3
wheel==0.32.3
flake8==3.7.5
tox==3.5.3
coverage==4.5.2
Sphinx==1.8.2
{% if cookiecutter.use_pypi_deployment_with_travis == 'y' -%}
PyYAML==3.12{% endif %}
pytest==4.0.1
pytest-cov==2.6.0
pytest-runner==4.2
